<article class="card mb-3">
	<div class="card-body">
		<h5 class="card-title mb-4">Recent orders </h5>
		<div class="row">
			<div class="col-md-6" *ngFor="let order of orders">
				<figure class="itemside  mb-3">
					<div class="aside">
						<img [src]="image.url" *ngFor="let image of (order.product | async)?.images" width="100px" height="100px">
					</div>
					<figcaption class="info">
						<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
						<p>{{(order.product | async)?.title}}</p>
						<span class="text-warning">{{(order.product | async)?.status}}</span>
					</figcaption>
				</figure>
			</div> <!-- col.// -->
		</div> <!-- row.// -->
		<!-- <a href="#" class="btn btn-outline-primary"> See all orders </a> -->
	</div> <!-- card-body .// -->
</article>
